@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&family=Sacramento&display=swap");

body {
  height: 60rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--Grayish-blue);
}

:root {
  font-family: "Roboto", sans-serif;
  font-family: "Sacramento", cursive;
  font-family: "Josefin Sans", sans-serif;

  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  background: var(--Light-gray);
  box-shadow: 8px 8px 15px -3px rgba(0, 0, 0, 0.1);
}

.full-scaner {
  width: 22%;
  height: 70%;
  background: var(--White);
  border-radius: 15px;
  box-shadow: 8px 8px 15px -3px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
}

.image {
  width: 17rem;
  border-radius: 10px;
}

h3 {
  color: var(--Dark-blue);
  margin-top: -2rem;
}

p {
  color: var(--Grayish-blue);
  margin-top: -5rem;
  padding: 0rem 2rem;
}

/* Extra Small (xs) Devices */
@media screen and (max-width: 576px) {
  /* styles for xs devices here */
  .full-scaner {
    width: 80%;
    height: 80%;
    /* border-radius: 0px; */
  }

  h3,
  p {
    width: 80%;
  }

  .container {
    background: transparent;
    box-shadow: none;
  }
}



/* Small (sm) Devices */
@media screen and (min-width: 360px) and (max-width: 575px) {
  /* styles for sm devices here */


  .full-scaner {
    width: 90%;
    height: 65%;
  }

  .image{
    width: 13rem;
    margin-top: -1.5rem;
  }

 body{
    overflow: scroll;
 }

  h3,
  p {
    width: 80%;
  }
}
/* Small (sm) Devices */
@media screen and (min-width: 576px) and (max-width: 767px) {
  /* styles for sm devices here */
  .full-scaner {
    width: 80%;
    height: 80%;
  }

  h3,
  p {
    width: 80%;
  }
}

/* Medium (md) Devices */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* styles for md devices here */
  .full-scaner {
    width: 60%;
    height: 80%;
  }
  h3,
  p {
    width: 80%;
  }
}

/* Large (lg) Devices */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  /* styles for lg devices here */
  .full-scaner {
    width: 50%;
    height: 80%;
  }

  body{
    overflow: scroll;
  }

  h3,
  p {
    width: 80%;
  }
}

/* Extra Large (xl) Devices */
@media screen and (min-width : 1200px) and (max-width: 1500px ) {
  /* styles for xl devices here */
  .full-scaner {
    width: 45%;
    height: 80%;
  }
  body{
    overflow: scroll;
  }

  h3,
  p {
    width: 80%;
  }
}
@media screen and (min-width: 1501px) and (max-width: 100vw) {
  /* styles for xl devices here */
  .full-scaner {
    width: 25%;
    height: 80%;
  }
  h3,
  p {
    width: 80%;
  }
}
